
.navbar{
    padding: 0px;
    margin: 0px;
}
.logo{
    float: left;
    padding: 30px;
    
}

nav{
    float: right;
    padding: 30px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 0px 30px;
    color: purple
}
    

nav ul li a{
    text-decoration: none;
    
}

nav ul li a:hover{
    background-color: crimson;
}

.contain::after{
    content: "";
    display: table;
    clear: both;
}

.contain{
    background-color: rgb(19, 12, 12);
    
    color: rgb(143, 5, 143);
}

.contain .saitore{
    float: left;
}
.contain h2{
    
    float:right;
    font-size:38px;
    line-height:60px;
    padding: 90px 100px 30px 50px;
}

.contain hr{
    width: 180px;
    height: 5px;
    background-color: rgb(143, 5, 143);
}

button{
    background-color:rgb(143, 5, 143);
    padding:15px 55px;
    margin:20px 89px;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(143, 5, 143);
    border: none;
}

button:hover{
    background-color: blue;
    color:white;
}

.jumbotron{
    background-color:rgba(143, 5, 143);
    text-align:center;
    font-size:20px;
    line-height:35px;
    padding:50px;
}

.jumbotron h1{
    
    padding: 30px;
}

.skills{
    text-align:center;
    font-size:20px;
    
}
.skills p{
    text-align:;
}

.card{
border-radius: 25px;
}

.col-3{

    border: none;
    margin: 45px;
    border-radius:25px;
    font-weight: bolder;
    font-size:30px;
    box-shadow: 5px 5px 7px rgba(143, 5, 143) ;
}

.col-3 h6{
    color: rgba(143, 5, 143);
    font-size:50px;
}

.col-3 p{
    font-weight: lighter;
    font-size:20px;
}
    